<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index.html</title>
</head>
<body>
    <h1>Index Demo</h1>
    <ol>
        <li><a href="./index">Index Page</a></li>
        <li><a href="./">/</a></li>
        <li><a href="./todo">Todo Page</a></li>
        <li><a href="./404">404 Page</a></li>
        <li><a href="./notfound">NotFound Page</a></li>
    </ol>
    <hr>
    <ol>
        <li><a href="../assets/css">CSS</a></li>
        <li><a href="../assets/js/jquery-3.2.1.js">jQuery</a></li>
    </ol>
</body>
</html>